.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

#map {
  height: 600px;
}

path {
  cursor: pointer;
}

#annualFlowSlider.slider-horizontal {
  width: 100% !important;
}
#annualFlowSlider.slider-horizontal .slider-selection {
  background: #337ab7;
}

.top-margin {
  margin-top:10px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

