.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

#map {
  height: 400px;;
}

path {
  cursor: pointer;
}
path:hover {
  stroke: #0066CC;
  stroke-width: 4;
}

#annualFlowSlider.slider-horizontal {
  width: 100% !important;
}
#annualFlowSlider.slider-horizontal .slider-selection {
  background: #337ab7;
}

.top-margin {
  margin-top:10px;
}
