.brunch {
  font-family: -apple-system, Sans-Serif;
  text-align: center;
  font-size: 24pt;
  color: #3f894a;
}

#controls {
}

#map svg {
  width: 500px;
  height: 650px;
}

#annualFlowSlider .slider-selection {
  background: #BABABA;
}
